.header {
  min-height: 50px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}
.header__logo {
  margin-left: 100px;
  color: white;
  font-size: 30px;
  transition: 0.5s;
}
.header__logo:hover {
  color: yellow;
}
.counter {
  text-decoration: none;
  background: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
  top: 30px;
}
a:focus {
  outline: none;
}
.header__btn {
  position: relative;
  width: 50px;
  padding: 5px 5px;
  display: flex;
  border-radius: 5px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  margin-left: 60vw;
  transition: 0.5s;
}
.header__btn:hover {
  border: 1px solid yellow;
  color: yellow;
}
