.sort {
  display: flex;
  justify-content: center;
}
form {
  width: 70%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 60px;
}
.sort__field {
  width: 50%;
  background: transparent;
  border: none;
  height: 40px;
  border-bottom: 2px solid black;
  font-size: 25px;
  font-family: 'Monserrat' sans-serif;
}
.sort__select {
  background: transparent;
  border: none;
  height: 40px;
  transform: translateY(-30px);
  width: 105px;
  font-size: 15px;
  margin-top: 35px;
  font-family: 'Monserrat' sans-serif;
}
